@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
.modal-content {
  border: rgb(248, 178, 49);
}
div.modal-header-login {
  background: linear-gradient(145deg, #cee026, #f8b231);
}
.title-login {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
}
.form-control-email {
  margin-top: 17px;
}
.form-email {
  margin: 10px 0 auto;
}
.form-password {
  margin-top: 18px;
}

.div-submit {
  text-align: center;
  margin-bottom: 10px auto;
  height: 50px;
}
.submit {
  padding: 5px 20px;
  border-radius: 15px;
  background: linear-gradient(145deg, #f8b231, #cee026);
  color: black;
  width: 300px;
}

.submit:hover {
  box-shadow: 1px 1px 10px #cee026;
}
