.title-register {
  text-align: center;
}
.form-email {
  margin-top: 0;
}
.dropdown-toggle {
  box-sizing: border-box;
}
select.form-control {
  background-color: #f2f2f2;
}

.div-register {
  text-align: center;
  height: 50px;
}
.register {
  padding: 5px 20px;
  background: linear-gradient(145deg, #f8b231, #cee026);
  color: white;
  width: 100%;
  font-weight: bold;
}

.register:hover {
  color: black;
}
